go 1.24.6

use (
	./pkg/auth
	./pkg/config
	./pkg/database
	./pkg/email
	./pkg/kafka
	./pkg/logger
	./pkg/middleware
	./pkg/proto
	./pkg/rbac
	./services/attachment-service
	./services/board-service
	./services/comment-service
	./services/gateway-service
	./services/git-service
	./services/issue-service
	./services/notification-service
	./services/org-service
	./services/project-service
	./services/search-service
	./services/sprint-service
	./services/template-service
	./services/user-service
	./services/workflow-service
)
